.venv/
samples/assets/
frontend/node_modules/
frontend/dist/
backend/.env
.env
camera/*
!camera/.gitkeep
image/*
!image/.gitkeep
__pycache__/
vangogh.png
スクリーンショット 2026-10-03 16.07.58.png
スクリーンショット 2026-10-03 21.24.03.png
